.App {
 
  margin: auto;
  border: solid 2px rgb(200, 198, 198);
  border-radius: 10px;
  width: 600px;
  height: 400px;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App .header{
  padding: 20px;
  border-bottom: solid 2px rgb(200, 198, 198);
  display: flex;
}
.App .header input{
  margin-left: 20px;
  width: 100%;
  font-size: 20px;
  height: 40px;
  border: none;
 
}
.App .footer span{
  margin: 30px;
  opacity: .8;
}
.App .header input:focus{
  outline: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
